<form action="/session" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input class="button_custom" type="submit" value="Down the rabbit hole!">
</form>
